html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#container {
    background-color: aqua;
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#winner-display {
    height:15%;
}

#gameplay-container {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px black dotted;
}

#game-board {
    display: grid;
    max-height: 15vh;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

}

.board-square {
    background-color: white;
    height: 10vh;
    width: 10vh;
}